.nav li {
    padding-right: 30px;
    margin: auto;
}

.navbar a {
  transition:color linear 0.15s;
  text-decoration: none;
  font-size: 120%; 
  font-weight: bold;
}

.search_form * {
    display: inline-block;
    margin: auto; 
}

.general {
	width: 25% ; 
}

.guest_number {
	width: 50% ; 
}